body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 40px;
}

.social__links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
}

.social__link {
  position: relative;
  width: 100px;
  height: 100px;
  color: #777;
  background-color: #eee;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  overflow: hidden;
}

.social__link::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social__link::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  content: attr(title);
  font-size: 12px;
  font-family: "Calibri", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  transform: translateX(-50%);
  transition: 0.3s ease-in-out;
}

.social__link:hover {
  transform: scale(1.2);
  background-color: indianred;
  z-index: 1;
  color: #111;
  box-shadow: 0 0 15px #111;
}

.social__link:hover::after {
  bottom: 10px;
}
