@import url(https://fonts.googleapis.com/css?family=Barlow:100,200,300,regular,500,600,700,900);

:root {
  --greyLight-1: #f3f3f3;
  --greyDark-1: #111;

  font-size: 16px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--greyLight-1);
  color: var(--greyDark-1);
  font-size: 16px;
  font-family: "Barlow", sans-serif;
}

h1 {
  width: 100%;
  font-weight: 700;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  color: var(--greyDark-1);
  text-decoration: none;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects__title {
  margin-bottom: 1rem;
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.project__video {
  margin-bottom: 0.5rem;
}

.project__links {
  display: flex;
  justify-content: space-evenly;
}

.project__link {
  padding: 0.5rem 1rem;
  background-color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.project__link:hover {
  opacity: 0.6;
}

.project__title {
  font-weight: 600;
}
