html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #f4f4f4;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  transition: background-color 0.3s ease-in-out;
}

a {
  margin: 0;
  padding: 0;
  color: #f4f4f4;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav {
  position: relative;
  margin: 0;
  padding: 0;
}

.nav__list {
  position: relative;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #000;
}

.nav__item {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.nav__link {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.nav__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s ease-in-out;
}

.nav__link.orange::before {
  background-color: #ac7339;
}
.nav__link.blue::before {
  background-color: #1a53ff;
}
.nav__link.green::before {
  background-color: #093;
}
.nav__link.red::before {
  background-color: #f00;
}
.nav__link.purple::before {
  background-color: #c3f;
}

.nav__link.active {
  width: 130%;
  height: 130%;
  font-size: 30px;
  transition: 0.3s ease-in-out;
}

.nav__link.active::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transition: 0.3s ease-in-out;
}

.nav__link:not(.active):hover {
  font-size: 25px;
}

.upper {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  z-index: -2;
  width: 150px;
  height: 30px;
  background-color: #000;
  transition: 0.3s ease-in-out;
  clip-path: url(#menu);
}

.svg {
  width: 0;
  height: 0;
}
